// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

.ion-page{
    background-color:#000659;
    --ion-toolbar-background:#000659 ;
    --ion-toolbar-color:#ffffff ;

}